/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: var(--p-family);
    /* Usa a fonte padrão do preset Lara */

    /* Varia dinamicamente: Cinza claro no Light Mode, Cinza muito escuro no Dark Mode */
    background-color: var(--surface-ground, var(--p-surface-ground));

    /* Varia dinamicamente: Quase preto no Light Mode, Branco/Cinza claro no Dark Mode */
    color: var(--text-color, var(--p-text-color));
}